.support-searchbox-wrapper
  = form_tag search_path, method: :get do
    .input-prepend
      %span.add-on
        %i.icon-search
      %input{class: "search", id: "prependedInput", type: "text", name: "search",  placeholder: "Search"}
      %input{type: "hidden", name: "type", value: type}
      %input{type: "submit", class: "btn btn-primary", id: "search", value: "Submit"}
